*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Classes Auxiliares*/
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

nav.menu-desktop li.selected{ 
    font-weight:normal;
}

/*Classes do Site*/

header{
    padding: 20px 0;
}

.logo{
    float: left;
}

.logo h2{
    font-weight: normal;
    font-size: 23px;
}

/*Classes do Menu*/
nav.menu-desktop{
    float: right;
}

nav.menu-desktop ul{
    position: relative;
    top: 8px;
}

nav.menu-desktop li{
    display: inline-block;
    font-weight: lighter;
    padding: 0 15px;
}

nav.menu-desktop a{
    color: black;
    text-decoration: none;
}

nav.menu-desktop a:hover{
    text-decoration: underline;
}

/*sessão Main*/

section.main-bg{
    position: relative;
    width: 100%;
    padding: 140px 0 200px 0;
    background: url(../images/img1.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}

section.main-bg > .container{
    position: relative;
    z-index: 2;
}

.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

section.main-bg .container h2{
    color: #4ba6b8;
    font-size: 40px;
    font-weight: normal;
}

section.main-bg .container p{
    text-align: left;
   color: white;
   margin-top: 15px;
   font-size: 17px;
}

section.main-bg .container a{
    border-radius: 7px;
    position: relative;
    font-size: 17px;
    top: 60px;
    color: white;
    padding: 15px 35px 15px 35px;
    background-color: #4ba6b8;
    text-decoration: none;
}


section.main-bg .container a:hover{
    cursor: pointer; 
    transition: 0.5s;
    background-color: white;
    color: #4ba6b8;
}

/*Sassaão direfencias*/

section.diferencias{
    padding: 30px 0;
    text-align: center;
}

.line-text{
    display: inline-block;
    position: relative;
    color: #4ba6b8;
}

.line-text > div{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 3px;
    background: #4ba6b8;
}

.line-text h2{
    font-weight: normal;
    font-size:27px;
}

.clear{
    clear: both;
}

.icone-diferencias{
    margin-top: 40px;
    text-align: center;
}

.box-icone-single{
    padding-top: 45px;
    float: left;
    width: 33.3%;
}

.box-icone-single h2{
    color: #8a6b62;
    font-size: 75px;
}

.box-icone-single p{
    text-align: left;
    padding: 10px 25px 55px 25px;
    font-weight: lighter;
    font-size: 17px;
}


/*sessão sobre-equipe*/

section.sobre-equipe{
    padding: 30px 0;
    background: rgb(225, 225, 225);
}

section.sobre-equipe > .container{
    display: flex;
    flex-wrap: wrap;
    
}

.area-equipe{
    width: 50%;
}

.area-sobre{
    width: 50%;
}

.area-sobre h2{
    margin-bottom: 30px;
}

.area-sobre p{
    margin-top: 15px;
    font-size: 15px;
    color:black;
}


.img-avatar{
    display: inline-block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-size: 100% 100%;
    margin-top: 15px;
}

.avatar-box{
    margin-top: 20px;
}

.descricao-avatar{
    width: calc(100% - 250px);
    display: inline-block;
    padding: 0 20px;
    font-size: 15px;
}

.descricao-avatar h3{
    color: rgb(30, 30, 30);
    font-weight: normal;
    font-style: italic;
}


section.sobre-equipe .container .area-equipe a{
    border-radius: 7px;
    display: inline-block;
    margin-top: 35px;
    font-size: 17px;
    color: white;
    padding: 10px 25px 10px 25px;
    background-color: #4ba6b8;
    text-decoration: none;
}


section.sobre-equipe .container .area-equipe a:hover{
    cursor: pointer; 
    transition: 0.5s;
    background-color: white;
    color: #4ba6b8;
}

/*
Sessao Inscrevasse
*/

section.inscrever{
   padding: 10px 0;
    background: #4ba6b8;
}

section.inscrever > .container{
    display: flex;
    flex-wrap: wrap;
 }

.w50{
    width: 50%;
    text-align: center;
}

.w50 h2{
    color: white;
    font-weight: normal;
}

.w50 i{
    margin-right:10px;
}

.w50 input[type=email]{
    border-radius: 7px;
    outline: 0;
    width: 79%;
    padding: 8px;
    font-size: 13px;
    border-style: none;
}


.w50 input[type=submit]{
    border-radius: 7px;
    outline: 0;
    background: #417680;
    color: white;
    width: 19.5%;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    border-style: none;
}

.w50 input[type=submit]:hover{
    cursor: pointer;
    transition: 0.4s;
    background: white;
    color: #417680;
}

/*
sessao titulo-cartao
*/
section.titulo-cartao{
    padding: 30px 0;
    background: white;
 }

 .card-sigle{
     width: 33.3%;
     float: left;
     padding: 50px;
     
 }

 .card-sigle img{
     width: 100%;
     border-radius: 10px;
 }

 .card-sigle h4{
     margin-top: 5px;
     font-weight: normal;
     font-size: 19px;
 }

 .card-sigle p{
     margin: 10px 0;
     font-weight: lighter;
     font-size: 16px;
     padding-bottom: 20px;
     border-bottom: 2px solid #CCC;
 }
 

/*
Sessao Rodape
*/

footer.area-rodape{
    padding: 30px 0;
    background: #4ba6b8;
}

.w33{
    width: 33.33%;
    float: left;
    padding-left: 50px;
    
}

.w33 h2{
    color: white;
    font-weight: normal;
    font: 22px; 
    padding-bottom: 10px;
}

.group-icons h3{
    font-weight: normal;
    font-size: 30px;
    display: inline-block;
}

.group-icons a{
    color: white;
}

.group-icons a h3 i:hover{
    color: #417680;
}   

.w33 i{
    margin-right: 10px;
}

.w33 p{
    color: white;
    font-weight: lighter;
    font: 18px;
    padding-bottom: 5px;
}

.w33 a{
    text-decoration: none;
}

.w33 a:hover{
    text-decoration: underline;
    color: white;
}


/*
Sessao Rodape inferior
*/

footer.area-rodape-inf{
    padding: 10px 0;
    background: #417680;;
}

.direitos{
    text-align: center;
    color: white;
}

.direitos h3{
    font-weight: lighter;
    font: 18px;
}



/*Ajuste de tela*/
@media screen and (max-width:768px){
    .card-sigle,.box-icone-single,.area-equipe{
        width: 100%;
    }

    .area-sobre{
        margin-top: 40px;
        width: 100%;
    }

    .w50{
        margin-top: 8px;
        width: 100%;
    }

    .w35{
        margin-bottom: 15px;
        width: 100%;
        padding-left: 75px;
    }

    .w33{
        width: 100%;
    }
}

@media screen and (max-width:500px){
    footer.area-rodape{
        text-align: center;
    }

    .card-sigle{
        padding: 10px;
    }

    .w33{
        padding: 10px;
    }
}


