*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Classes Auxiliares*/
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

nav.menu-desktop li.selected{
    
    font-weight:normal;
}

/*Classes do Site*/

header{
    padding: 8px 0;
}

.logo{
    float: left;
}

.logo h2{
    font-weight: normal;
    font-size: 23px;
}

/*Classes do Menu*/
nav.menu-desktop{
    float: right;
}

nav.menu-desktop ul{
    position: relative;
    top: 8px;
}

nav.menu-desktop li{
    display: inline-block;
    font-weight: lighter;
    padding: 0 15px;
}

nav.menu-desktop a{
    color: black;
    text-decoration: none;
}

nav.menu-desktop a:hover{
    text-decoration: underline;
}

/*sessão Main*/

section.main-bg{
    position: relative;
    width: 100%;
    padding: 140px 0 200px 0;
    background: url(../images/pexels-mantas-hesthaven-326916.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}

section.main-bg > .container{
    position: relative;
    z-index: 2;
}

.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

section.main-bg .container h2{
    color: #4ba6b8;
    font-size: 40px;
    font-weight: normal;
}

section.main-bg .container p{
    text-align: left;
   color: white;
   margin-top: 15px;
   font-size: 17px;
}

section.main-bg .container a{
    position: relative;
    font-size: 17px;
    top: 60px;
    color: white;
    padding: 15px 35px 15px 35px;
    background-color: #4ba6b8;
    text-decoration: none;
}


section.main-bg .container a:hover{
    cursor: pointer; 
    transition: 0.1s;
    background-color: white;
    color: #4ba6b8;
}

/*Sassaão direfencias*/

section.diferencias{
    padding: 30px 0;
    text-align: center;
}

.line-text{
    display: inline-block;
    position: relative;
    color: #4ba6b8;
}

.line-text > div{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 3px;
    background: #4ba6b8;
}

.line-text h2{
    font-weight: normal;
    font-size:27px;
}

.clear{
    clear: both;
}

.icone-diferencias{
    margin-top: 35px;
    text-align: center;
}

.box-icone-single{
    padding-top: 55px;
    float: left;
    width: 33.3%;
}

.box-icone-single h2{
    color: #8a6b62;
    font-size: 75px;
}

.box-icone-single p{
    padding: 10px 25px 55px 25px;
    font-weight: lighter;
    font-size: 17px;
}
