*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Classes Auxiliares*/
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

nav.menu-desktop li.selected{ 
    font-weight:normal;
}

/***************************************
************ Pagina Home **************
***************************************/


/*Classes do Site*/

header{
    padding: 20px 0;
}

.logo{
    float: left;
}

.logo h2{
    font-weight: normal;
    font-size: 23px;
}

/*Classes do Menu*/
nav.menu-desktop{
    float: right;
}

nav.menu-desktop ul{
    position: relative;
    top: 8px;
}

nav.menu-mobile{
    display: none;
    float: right;

}

nav.menu-mobile h2{
    cursor: pointer;
}

nav.menu-mobile ul{
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 73px;
    z-index: 999;
    text-align: center;
}

nav.menu-mobile li{
    padding: 8px 0;
    border-bottom: 1px solid rgba(184, 182, 182, 0.658);
}

nav.menu-mobile li.selected{
    background: rgb(225, 225, 225);
}

nav.menu-mobile a{
    display: block;
    color: black;
    text-decoration: none;
}    

nav.menu-desktop li{
    display: inline-block;
    font-weight: lighter;
    padding: 0 15px;
}

nav.menu-desktop a{
    color: black;
    text-decoration: none;
}

nav.menu-desktop a:hover{
    text-decoration: underline;
}

/*sessão Main*/

section.main-bg{
    position: relative;
    width: 100%;
    padding: 140px 0 200px 0;
    background: url(../images/img1.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}

section.main-bg > .container{
    position: relative;
    z-index: 2;
}

.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

section.main-bg .container h2{
    color: #4ba6b8;
    font-size: 40px;
    font-weight: normal;
}

section.main-bg .container p{
    text-align: left;
   color: white;
   margin-top: 15px;
   font-size: 17px;
}

section.main-bg .container a{
    border-radius: 7px;
    position: relative;
    font-size: 17px;
    top: 60px;
    color: white;
    padding: 15px 35px 15px 35px;
    background-color: #4ba6b8;
    text-decoration: none;
}


section.main-bg .container a:hover{
    cursor: pointer; 
    transition: 0.5s;
    background-color: white;
    color: #4ba6b8;
}

/*Sassaão direfencias*/

section.diferencias{
    padding: 30px 0;
    text-align: center;
}

.line-text{
    display: inline-block;
    position: relative;
    color: #4ba6b8;
}

.line-text > div{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 3px;
    background: #4ba6b8;
}

.line-text h2{
    font-weight: normal;
    font-size:27px;
}

.clear{
    clear: both;
}

.icone-diferencias{
    margin-top: 40px;
    text-align: center;
}

.box-icone-single{
    padding-top: 45px;
    float: left;
    width: 33.3%;
}

.box-icone-single h2{
    color: #8a6b62;
    font-size: 75px;
}

.box-icone-single p{
    text-align: left;
    padding: 10px 25px 55px 25px;
    font-weight: lighter;
    font-size: 17px;
}


/*sessão sobre-equipe*/

section.sobre-equipe{
    padding: 30px 0;
    background: rgb(225, 225, 225);
}

section.sobre-equipe > .container{
    display: flex;
    flex-wrap: wrap;
    
}

.area-equipe{
    width: 50%;
}

.area-sobre{
    width: 50%;
}

.area-sobre h2{
    margin-bottom: 30px;
}

.area-sobre p{
    margin-top: 15px;
    font-size: 15px;
    color:black;
}


.img-avatar{
    display: inline-block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-size: 100% 100%;
    margin-top: 15px;
}

.avatar-box{
    margin-top: 20px;
}

.descricao-avatar{
    width: calc(100% - 250px);
    display: inline-block;
    padding: 0 20px;
    font-size: 15px;
}

.descricao-avatar h3{
    color: rgb(30, 30, 30);
    font-weight: normal;
    font-style: italic;
}


section.sobre-equipe .container .area-equipe a{
    border-radius: 7px;
    display: inline-block;
    margin-top: 35px;
    font-size: 17px;
    color: white;
    padding: 10px 25px 10px 25px;
    background-color: #4ba6b8;
    text-decoration: none;
}


section.sobre-equipe .container .area-equipe a:hover{
    cursor: pointer; 
    transition: 0.5s;
    background-color: white;
    color: #4ba6b8;
}

/*
Sessao Inscrevasse
*/

section.inscrever{
   padding: 10px 0;
    background: #4ba6b8;
}

section.inscrever > .container{
    display: flex;
    flex-wrap: wrap;
 }

.w50{
    width: 50%;
    text-align: center;
}

.w50 h2{
    color: white;
    font-weight: normal;
}

.w50 i{
    margin-right:10px;
}

.w50 input[type=email]{
    border-radius: 7px;
    outline: 0;
    width: 79%;
    padding: 8px;
    font-size: 13px;
    border-style: none;
}


.w50 input[type=submit]{
    border-radius: 7px;
    outline: 0;
    background: #417680;
    color: white;
    width: 19.5%;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    border-style: none;
}

.w50 input[type=submit]:hover{
    cursor: pointer;
    transition: 0.4s;
    background: white;
    color: #417680;
}

/*
sessao titulo-cartao
*/
section.titulo-cartao{
    padding: 30px 0;
    background: white;
 }

 .card-sigle{
     width: 33.3%;
     float: left;
     padding: 50px;
     
 }

 .card-sigle img{
     width: 100%;
     border-radius: 10px;
 }

 .card-sigle h4{
     margin-top: 5px;
     font-weight: normal;
     font-size: 19px;
 }

 .card-sigle p{
     margin: 10px 0;
     font-weight: lighter;
     font-size: 16px;
     padding-bottom: 20px;
     border-bottom: 2px solid #CCC;
 }
 

/*
Sessao Rodape
*/

footer.area-rodape{
    padding: 30px 0;
    background: #4ba6b8;
}

.w33{
    width: 33.33%;
    float: left;
    padding-left: 50px;
    
}

.w33 h2{
    color: white;
    font-weight: normal;
    font: 22px; 
    padding-bottom: 10px;
}

.group-icons h3{
    font-weight: normal;
    font-size: 30px;
    display: inline-block;
}

.group-icons a{
    color: white;
}

.group-icons a h3 i:hover{
    color: #417680;
}   

.w33 i{
    margin-right: 10px;
}

.w33 p{
    color: white;
    font-weight: lighter;
    font: 18px;
    padding-bottom: 5px;
}

.w33 a{
    text-decoration: none;
}

.w33 a:hover{
    text-decoration: underline;
    color: white;
}


/*
Sessao Rodape inferior
*/

footer.area-rodape-inf{
    padding: 10px 0;
    background: #417680;
}

.direitos{
    text-align: center;
    color: white;
}

.direitos h3{
    font-weight: lighter;
    font: 18px;
}

/***************************************
************ Pagina Sobre **************
***************************************/

/*Sessao tirulo Sobre*/

section.title-page{
    position: relative;
    padding: 30px;
    width: 100%;
    min-height: 150px;
    background: url('../images/img1.jpg') no-repeat;
    background-size: cover;
}

section.title-page > .container{
    position: relative;
    z-index: 4;
}

.title-page h2{
   color: #4ba6b8;
   font-weight: normal;
   font-size: 35px;
}

.title-page p{
    margin-top: 15px;
    color: white;
    font-weight: lighter;
    font: 16px;
 }

.overlay__title-page{
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
 }

 /*Sessao Sobre noticia*/

 section.sobre__noticia{
     padding: 30px 0;
     background: white;
 }

 .sobre__sigle__noticia img{
     max-width: 100%;
     float: left;
     width: 45%;

 }

 .sobre__sigle__noticia p{
    width: 55%;
    float: left;
    font-weight: lighter;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 15px;

 }

 .paragrafo__sigle__noticia{
    margin-top: 15px;
 }

 .paragrafo__sigle__noticia p{
    width: 100%;
    font-weight: lighter;
    font-size: 15px;
    
 }

 /*Sessao Parallax*/

 section.parallax{
     position: relative;
     padding: 30px 0;
     background-image: url(../images/img04.jpg);
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
     width: 100%;
     min-height: 200px;
     text-align: center;
     z-index: 50;
 }

 section.parallax > .container{
    position: relative;
    z-index: 51;
}

.parallax h2{
    color: #4ba6b8;
    font-weight: normal;
    font-size: 30px;
    border: 1px solid #4ba6b8;
    padding: 3px 50px;
    display: inline-block;
}

 .parallax p{
     padding-top: 15px;
     color:white;
     font-weight: lighter;
     font-size: 15px;
 }

 /*Sessao Equipe*/

 section.sobre__equipe{
     padding: 30px 0;
     color: white;
 }

 .line__text{
    position: relative;
    display: inline;
    color: #4ba6b8;
}

.line__text h2{
    font-weight: normal;
    font-size:27px;
}

.line__text > div{
    width: 200px;
    height: 3px;
    background: #4ba6b8;
}


.avatar__box {
    width: 33.3%;
    float: left;
    padding: 25px;
    text-align: center;
}

.img__avatar{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: 100% 100%;
    margin-bottom: 20px;
    margin-top: 15px;
}

.descricao__avatar{
    display: block;
    padding: 0 20px;
    font-size: 15px;
}

.descricao__avatar h3{
    color: rgb(30, 30, 30);
    font-weight: normal;
    font-style: italic;
}

.descricao__avatar p{
    color: rgb(30, 30, 30);;
    font-weight: lighter;
    font-size: 15px;

}

/*Sessao nossa Historia*/

section.nossa__historia{
    padding: 30px 0;
    background: rgb(225, 225, 225);
}

.imagem__dia{
    float: left;
    width: 50%;
}

.area__historia{
    float: left;
    width: 50%;
}

.imagem__dia img{
    margin-top: 20px;
    max-width: 100%;
    width: 85%;
    border-radius: 15px;
}

.area__historia p{
    padding-top: 15px;
    font-weight: lighter;
    font-size: 15px;
}


/*********************************************
************* Pagina de Cantato **************
**********************************************/

section.title__page{
    position: relative;
    padding: 30px 0;
    background-image: url('../images/img1.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 175px;
}

section.title__page > .container{
    position: relative;
    z-index: 71;
}

.title__page h2{
    font-weight: normal;
    font-size: 35px;
    color:#4ba6b8;
}

.title__page p{
    font-weight: lighter;
    font-size: 15px;
    color:white;
}


/*sessao Contato*/

section.area__contato{
    padding: 30px 0;
    background: white;
}

.email-contato{
    float: left;
    width: 65%;
}

.contato{
    text-align: center;
    float: left;
    width: 35%; 
}

.contato h4{
    padding: 8px;
    font-weight: normal;
}

.telefone h4{
    position: relative;
    display: inline-block;
    text-align: center;
    background:#4ba6b8;
    padding:5px 50px;
    margin-top: 5px;
    color: white;
}
.contato p{
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
}

.email-contato h4{
    background-color:rgb(225, 225, 225);
    padding: 8px;
    text-align: center;
    font-weight: normal;
}

.email-contato form{
    margin-top: 15px;
}

.area-50{
    float: left;
    width: 50%;
    padding: 0 10px;
}

.area-100{
    float: left;
    width: 100%;
    padding: 0 10px;
}


.form-group label{
    display: block;
    margin: 5px 0;
    color: #646464;
}

.form-group input[type=text]{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-weight: lighter;
    font: 17PX;
}

.form-group input[type=submit]{
    width: 140px;
    height: 40px;
    background: #4ba6b8;
    color: white;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 8px;
}

.form-group input[type=submit]:hover{
    background: #417680;
}
 

.form-group textarea{
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
}







/*********************************************
************ Ajustes Resposivel **************
**********************************************/

@media screen and (max-width:768px){
    .card-sigle,.box-icone-single,.area-equipe{
        width: 100%;
    }

    .area-sobre, .avatar__box{
        margin-top: 40px;
        width: 100%;
    }

    .w50{
        margin-top: 8px;
        width: 100%;
    }

    .w35{
        margin-bottom: 15px;
        width: 100%;
        padding-left: 75px;
    }

    .w33{
        width: 100%;
    }

    .imagem__dia,.area__historia{
        width: 100%;
    }

    .area-50,.email-contato{
        width: 100%;  
    }

    .contato{
        width: 100%;
    }


}

@media screen and (max-width:1024px){
    .sobre__sigle__noticia img,.sobre__sigle__noticia p{
        width: 100%;
        padding-left: 0;
    }

    .imagem__dia img{
        width: 95%;
        margin-bottom: 20px;
        
    }


}


@media screen and (max-width:500px){
    nav.menu-desktop{
        display: none;
    }

    nav.menu-mobile{
        display: block;
    }

    footer.area-rodape{
        text-align: center;
    }

    .card-sigle{
        padding: 10px;
    }

    .w33{
        padding: 10px;
    }

    .sobre__sigle__noticia img,.sobre__sigle__noticia p{
        padding-left: 0;
        width: 100%;
    }

    .avatar__box{
        margin-top: 0px;
        text-align: center;
    }

    .border{
        margin-top: 55px;
        border-bottom: 1px solid #CCC;
    }

    .imagem__dia img{
        width: 100%;
        margin-bottom: 20px;
    }

    .area-50,.email-contato{
        width: 100%;  
    }

    .contato{
        padding-top: 25px;
        width: 100%;
    }

}


